body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  .login-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px #0000001a;
    padding: 40px;
    width: 400px;
    max-width: 100%;
  }

  .login-container h1 {
    text-align: center;
    color: #333;
  }

  #login-form {
    margin-top: 20px;
  }

  .form-group {
    margin-bottom: 20px;
  }

  .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #666;
  }

  .form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .form-group button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    /* background-color: #333; */
    background-color: #FF8C00;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
  }

  .form-group button:hover {
    /* background-color: #555; */
    background-color: #FFA500;
  }

  .form-group .signup-link {
    display: block;
    text-align: center;
    margin-top: 10px;
  }

  .form-group .signup-link a {
    color: #666;
    text-decoration: none;
  }

  .form-group .signup-link a:hover {
    text-decoration: underline;
  }