body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

.order {
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.order-header {
    /* background-color: #ff825f; */
    background-color: #ff6700;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
}

.order-header span {
    display: inline;
    margin: 5px;
}

.order-item {
    margin-bottom: 10px;
    color: #555;
    display: flex;
    align-items: center;
}

.order-image {
    max-width: 100px;
    height: auto;
    margin-right: 20px;
}

.order-details {
    flex-grow: 1;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  :root {
    --white-100: #fff;
    --white-200: #eee;
    --white-300: #ddd;
    --gray: #cccccc;
  
    --green: #0a764f;
  
    --blue: #0534db;
    --orange-345:#c5531f;
    --orange:#ff6700;
    --red: #ec2310;
  
    --black: #000;
  
    --red: #df2727;
  }
  
  body {
    background-color: var(--white-100);
  }
  
  body,
  input,
  textarea,
  button {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1rem;
  }
  
  i {
    cursor: pointer;
  }
  
  header a {
    color: #007bff;
    transition: color 0.3s;
  }
  
  header a:hover {
    color: #ff1493;
  }
  
  header a {
    text-decoration: none;
    position: relative;
  }
  
  header a:before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    right: 0;
    height: 2px;
    background-color: var(--white-100);
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
  }
  
  header a:hover:before {
    visibility: visible;
    transform: scaleX(1);
  }
  
  header a {
    cursor: pointer;
  }
  
  header a:hover {
    cursor: grab;
  }
  
  h1 {
    margin-top: 20px;
    text-align: center;
  }
  
  .header {
    position: relative;
    background-color: var(--orange);
    display: flex;
    width: 100%;
    height: 60px;
    padding-left: 30px;
  }
  
  .container-title {
    
    width: 97%;
    display: flex;
    align-items: center;
  }
  
  .title {
    color: white;
    font-family: monospace;
    font-size: 1.875rem;
  }
  
  .title strong {
    font-family: monospace;
  
    color: var(--white-100);
  }
  
  
  
  
  
  
  .container {
    padding: 20px;
    justify-content: space-around;
  }
  
  
  .items {
    display: flex;
    flex-basis: 70%;
    flex-wrap: wrap;
    justify-content: center;
    margin: 40px 0;
  }
  
  .item {
    display: flex;
    flex-direction: column;
    height: auto;
    margin: 5px;
    width: 200px;
    border-radius: 5px;
    box-sizing: border-box;
  
    box-shadow: rgba(14, 30, 37, 0.12) 0 2px 4px 0,
      rgba(14, 30, 37, 0.32) 0 2px 16px 0;
  }
  
  .item .item__sku {
    display: none;
  }
  
  .item .item__title {
    display: flex;
    align-items: center;
    flex-grow: 1;
    padding: 10px;
    text-align: center;
  }
  
  .item .item__image {
    width: 100%;
  }
  
  .item .item__add {
    background-color: var(--green);
    font-size: 0.8rem;
    border: 0;
    cursor: pointer;
    padding: 10px;
    color: var(--white-100);
    transition: background 0.1s;
    margin: 0 2px 2px;
    border-radius: 3px;
    border: 1.5px solid white;
  }
  
  .cart {
    position: sticky;
    top: -1px;
    display: flexbox;
    flex-basis: 30%;
    background-color: var(--white-200);
    height: 100vh;
  }
  
  .buttons-cart {
    margin-left: 20%;
  }
  
  .buy-item {
    text-align: center;
    margin-top: 10px;
    color: var(--green);
    font-size: 35px;
    margin-bottom: 0px;
  }
  
  
  
  
  
  
  
  .material-symbols-outlined {
    position: absolute;
    bottom: 0;
    right: 0;
    font-variation-settings: 'FILL' 0, 'wght' 100, 'GRAD' -25, 'opsz' 15;
    color: var(--black);
    margin-right: 5px;
    margin-bottom: 2px;
    cursor: pointer;
  }
  
  .empty-cart {
    width: 170px;
    height: 35px;
    color: var(--red);
    border: 2px solid var(--red);
    background-color: var(--white-100);
    border-radius: 3px;
    cursor: pointer;
    transition: background 0.5s, color 0.5s;
  }
  
  .buy-cart {
    width: 170px;
    height: 35px;
    color: var(--orange);
    border: 2px solid var(--orange);
    background-color: var(--white-100);
    border-radius: 3px;
    margin-top: 5px;
    align-items: center;
    cursor: pointer; 
    transition: background 0.5s, color 0.5s;
  }
  
  .buy-cart:hover {
    background-color: var(--orange);
    color: var(--white-100);
  }
  
  
  
  .price {
    margin-top: 10px;
    text-align: center;
    margin-bottom: 5px;
    font-weight: 400;
  }
  
  .prices {
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    /* color: var(--green); */
    /* color: var(--blue); */
    color: var(--blue);
    font-weight: 400;
  }
  
  .empty-cart:hover {
    background-color: var(--red);
    color: var(--white-100);
  }
  
  .item__add:hover {
    border: 1.5px solid orange
  }
  
  .item:hover {
    box-shadow: rgba(14, 30, 37, 0.448) 0 2px 4px 0,
      rgba(14, 30, 37, 0.539) 0 2px 16px 0;
  }
  
  .material-symbols-outlined:hover {
    color: var(--red);
  }
  
  .invisible-cart {
    display: none;
  }
  
  /* Scrollbar */
  
  .cart .cart__items::-webkit-scrollbar {
    width: 10px;
  }
  .cart .cart__items::-webkit-scrollbar:disabled {
    width: 0;
  }
  .cart .cart__items {
    scrollbar-width: thin;
    scrollbar-color: var(--blue) var(--blue);
  }
  .cart .cart__items::-webkit-scrollbar-track {
    background: var(--white-300);
  }
  .cart .cart__items::-webkit-scrollbar-thumb {
    background-color: var(--blue);
    border-radius: 6px;
    border: 3px solid var(--white-300);
  }
  
  /* Back to Top */
  
  .back-to-top {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    background: var(--white-100);
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: var(--blue);
    transform: rotate(-90deg);
    border: 0.1rem solid var(--blue);
    text-decoration: none;
    transition: background 0.5s, color 0.5s;
  }
  
  .back-to-top:hover {
    color: var(--white-100);
    background-color: var(--blue);
  }
  
  /* Search */
  
  .search-box {
    margin: 0 auto;
    background: var(--white-100);
    height: 40px;
    border-radius: 25px;
    padding: 10px 15px;
  }
  .search-btn {
    color: var(--blue);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: 0.4s;
  }
  .search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: var(--black);
    font-size: 16px;
    transition: 0.4s;
    line-height: 30px;
    width: 300px;
  }
  .search-box:hover > .search-txt {
    width: 320px;
  }
  
  /*  */
  
  .expand-container {
    position: relative;
    display: inline-block;
  }
  
  .icons {
    position: relative;
    display: inline-block;
    padding: 12px;
    font-size: 45px;
    color: white;
    background-color: transparent;
    border: none;
    cursor: pointer;
    /* height: ;
    width: ; */
  }
  
  .expand-menu {
    position: absolute;
    top: 130%;
    left: -160px;
    width: 200px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    opacity: 0;
    visibility: hidden;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.3s, opacity 0.3s;
  }
  
  .expand-container.active .expand-menu {
    opacity: 1;
    visibility: visible;
    transform: scaleY(1);
  }
  
  .expand-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .expand-menu li {
    padding: 12px;
    transition: background-color 0.3s;
    cursor: pointer;
  }
  
  .expand-menu li:hover {
    background-color: #f5f5f5;
  }
  
  .expand-menu a {
    color: #333;
    text-decoration: none;
  }