body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

.order {
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.order-header {
    /* background-color: #ff825f; */
    background-color: #ff6700;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
}

.order-header span {
    display: inline;
    margin: 5px;
}

.order-item {
    margin-bottom: 10px;
    color: #555;
    display: flex;
    align-items: center;
}

.order-image {
    max-width: 100px;
    height: auto;
    margin-right: 20px;
}

.order-details {
    flex-grow: 1;
}