body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
  }

  .container {
    max-width: 800px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  h1 {
    text-align: center;
    color: #333;
  }

  .form-group {
    margin-bottom: 20px;
  }

  .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #555;
  }

  .form-group input {
    width: 30%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }

  .btn {
    display: flex;
    justify-content: center;
    width: 100px;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    /* background-color: #ff7f50; */
    /* background-color: #FF8C00; */
    background-color: #ff6700;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .btn:hover {
    /* background-color: #ff6347; */
    /* background-color: #FFA500; */
    background-color: #ff7800;
  }